* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;

}

.container {
    display: flex;

}

.grid-container {
    display: grid;
    width: 100vw;
    height: 800px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.panel {
    background-color: antiquewhite;
}

.grid-item{
    background-color: rgb(230, 230, 230);
    outline: 1px solid rgb(20, 20, 20);
}

